#Если запрос направлен на несуществующий файл
RewriteCond %{REQUEST_FILENAME} !-f
#или несуществующую папку
RewriteCond %{REQUEST_FILENAME} !-d
#тогда направляем его на index.php и отправляем методом GET, тот запрос, который был запомнен
#L - последнее правило, следующие правила не действуют
#QSA - важный флаг, если будут GET параметры дополнительный, они не отбрасываются, а дополяются
RewriteRule (.*) index.php?$1 [L,QSA]